<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326571481545-966t3cf3m11h5p47vhk08p87s5m7cn8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326571481545-966t3cf3m11h5p47vhk08p87s5m7cn8i</string>
	<key>API_KEY</key>
	<string>AIzaSyDGtRbZMEVU5ETNUgtDI3scE8Gd1AjJMNw</string>
	<key>GCM_SENDER_ID</key>
	<string>326571481545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chachang.Power-Pickle</string>
	<key>PROJECT_ID</key>
	<string>power-pickle</string>
	<key>STORAGE_BUCKET</key>
	<string>power-pickle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326571481545:ios:dfd4d60794db7ec739f018</string>
</dict>
</plist>